body{
    background-color: #f5ba65;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
}


.tablero{
    background-color: aquamarine;
    width: 60vh;
    height:60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.l1{
    grid-column: line;
    grid-row: 1 / 4;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}