body{
    color: #E4E4E1;
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);    background-blend-mode: normal, multiply;    color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    font-family: monospace;
}

/* TABLERO */

.cont-tablero{
height: 70vh;
}


.gameContainer{
    width: 60vh;
    height:60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

.box0{
    border-bottom: solid;
    border-right: solid;
    border-width: 0.3em;
    border-color: #343e44;
    color: black;
    font-size: 15px;

}

.box1{
    border-bottom: solid;
    border-right: solid;
    border-left: solid;
    border-width: 0.3em;
    border-color: #343e44;

    
}

.box2{
    border-bottom: solid;
    border-left: solid;
    border-width: 0.3em;
    border-color: #343e44;

    
}

.box3{
    border-bottom: solid;
    border-right: solid;
    border-top: solid;
    border-width: 0.3em;
    border-color: #343e44;

    
    
}

.box4{
    border-style: solid; 
    border-width: 0.3em;
    border-color: #343e44;

    
}

.box5{
    border-bottom: solid;
    border-left: solid;
    border-top: solid;
    border-width: 0.3em;
    border-color: #343e44;

    
}

.box6{
    border-right: solid;
    border-top: solid;
    border-width: 0.3em;
    border-color: #343e44;

    
}

.box7{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-width: 0.3em;
    border-color: #343e44;
    
}

.box8{
    border-top: solid;
    border-left: solid;
    border-top: solid;
    border-width: 0.3em;
    border-color: #343e44;

    
}


.turno-jugador {
    background-color: #343e44;
    color: #f5ba65; 
}

.turno-jugador-otro {
    color: #343e44; 
}

.cuadrado{
    cursor: pointer;
    transition: 0.4s;
    font-size: 20px;
}

.cuadrado:hover{
    transition: 0.4s;
    background-color: #ffecd2;
}


h1{
    font-size: 3.5em;
    font-family: monospace;
    font-weight: 700;  
    color: #343e44;
}

